<h1 style="color: firebrick">{{ pageTitle }}</h1>
<ul>
    <a href="/"><li>Home</li></a>
    <a href="/about"><li>About</li></a>
    <a href="/projects"><li>Projects</li></a>
</ul>
<header>
    <p>{{ screemIt "Welcome to my brand new website" }}</p>
</header>